IMAGE_TAG=latest
OPENRESTY_PLUS_IMAGE=registry.gitlab.com/openrestyplus/openresty-plus
RUNTIME_IMAGE=registry.gitlab.com/openrestyplus/orp-quickstart/openresty
FILEBEAT_IMAGE=registry.gitlab.com/openrestyplus/orp-quickstart/filebeat
IMPORTER_IMAGE=registry.gitlab.com/openrestyplus/orp-nginx-importer
ADMIN_USERNAME=admin
ADMIN_PASSWORD=replace-with-generated-password
DATA_KEY=replace-with-64-hex-character-key
OPENRESTY_HTTP_ADDR=:8081
OPENRESTY_DB_URL=jdbc:mysql://127.0.0.1:3306/openresty-plus?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
OPENRESTY_DB_USERNAME=openresty-plus
OPENRESTY_DB_PASSWORD=replace-with-mysql-password
OPENRESTY_REDIS_ADDR=127.0.0.1:6379
OPENRESTY_REDIS_PASSWORD=
OPENRESTY_REDIS_DB=0
OPENRESTY_KAFKA_BOOTSTRAP_SERVERS=127.0.0.1:9092
OPENRESTY_KAFKA_TOPIC=dtl-602-openresty-plus
OPENRESTY_KAFKA_CONSUMER_GROUP=openresty-plus-control-plane-v1
# 演示模式 Filebeat 使用 YAML/JSON 列表，可填写多个 broker。
FILEBEAT_KAFKA_HOSTS='["127.0.0.1:9092"]'
QUICKSTART_START_DEMOS=false
FILEBEAT_EAST_1_NODE_ID=
FILEBEAT_EAST_2_NODE_ID=
FILEBEAT_EAST_3_NODE_ID=
