IMAGE_TAG=latest
OPENRESTY_PLUS_IMAGE=registry.gitlab.com/openrestyplus/openresty-plus
RUNTIME_IMAGE=registry.gitlab.com/openrestyplus/orp-quickstart/openresty
FILEBEAT_IMAGE=registry.gitlab.com/openrestyplus/orp-quickstart/filebeat
IMPORTER_IMAGE=registry.gitlab.com/openrestyplus/orp-nginx-importer
ADMIN_USERNAME=vben
ADMIN_PASSWORD=replace-with-generated-password
DATA_KEY=replace-with-64-hex-character-key
MYSQL_DATABASE=openresty-plus
MYSQL_USER=openresty-plus
MYSQL_PASSWORD=replace-with-generated-mysql-password
MYSQL_ROOT_PASSWORD=replace-with-generated-mysql-root-password
FILEBEAT_EAST_1_NODE_ID=
FILEBEAT_EAST_2_NODE_ID=
FILEBEAT_EAST_3_NODE_ID=
